amqp
anyjson
asgiref
Babel
billiard
celery
Django==2.2.20
django-celery
django-extensions
django-filter
djangorestframework
django-oauth-toolkit
flower
gunicorn
importlib-metadata
kombu
Markdown
more-itertools
psycopg2
pytz
six
sqlparse
tornado
vine
zipp
python-scrapyd-api
Scrapy
scrapyd
django-tenant-schemas
django-cors-headers

